@charset "UTF-8";
/* CSS Document */

.page-header{
	margin:10px;
	text-align:center;
	padding:0;
	border-bottom:none;
	}

	
.foot{
    margin-top:10px;
	text-align:center;
	}
.TYC{
	margin:auto 0;
	}