@charset "UTF-8";
/* CSS Document */

.page-header{
	margin:10px;
	text-align:center;
	padding:0;
	border-bottom:none;
	}

p{
	font-size:18px;
	margin:50px 20px;
	
	
	}
	

	
ul{
	text-align:center;
	list-style-type: none;
	}
.foot{

	text-align:center;
	}